
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.person {
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 2px 2px #ccc;
  margin-left: 5%;
  padding: 30px;
  width: 33%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.dcontainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 50px;
}
.myp{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}